# Note: because this repository is a 'fine' selection of a much larger file structure in my work directory
# I choose to ignore all
*

# As git does not ignore files specified in .gitignore that are already tracked,
# files can be added to the repository with  git add -f. <file>
# However, for completeness, all what should be in the repository is summed up here.
# note: git is case insensitive to the entries in .gitignore

### not ignored (hence included) are ======================

#this file
!.gitignore

#the HardwareSerialRS485 helper classes
!HardwareSerialRS485_Enabled.h
!HardwareSerialRS485_Helper.h
!HardwareSerialRS485_Tracer.h
!MessageFilter.h
!SerialUSBSwitch.h

#template class definition for all possible USART
!USARTdef.h

#template definitions for generic bit handling
!BitManipulation.h

#the HardwareSerialRS485_configuration.h
!HardwareSerialRS485_configuration.h